.p
{
    color:brown;
    text align: left;
}
.anchor
{
    text-decoration-line: none;
    color:red;
    background-color: yellow;
}
.heading
{
    color:red;
    font-style: italic;
}
.para
{
    color:brown;
}
.list
{
    color:brown;
}
.line
{
    text-decoration: line-through;
}
.lot
{
    font-style: italic;
    text-decoration-line: underline;
}
.most
{
    color:brown;
}